<a href="https://colab.research.google.com/github/ettubrute-INFO/Rahul_INFO5731_Spring2020/blob/master/Assignment10_Part1AndPart2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pymysql


def retrievedata():
    database = pymysql.connect("rahulsagi","Desktop","python3020","world")
    cursor = database.cursor()
    sqlcode = "select * from country"
    cursor.execute(sqlcode)
    info = cursor.fetchall()
    cursor.close()
    db.close()
    return info

def getname(name):
    namecolumn = pymysql.connect("rahulsagi","Desktop","python3020","world")
    cursor = db.cursor()
    sqlcode = "select * from country where Name='"+ name +"'"
    cursor.execute(sqlcode)
    infoname = cursor.fetchall()
    cursor.close()
    namecolumn.close()
    return infoname

def printdata(countrydata):
    print("Code \t Name \t Contnent \t\t Region")
    print("-------------")
    for row in data:
        print(str(row[0]) + "\t\t" + row[1] + "\t" + row[2] + "\t\t" + str(row[3]))
        print("---------")
    data = ""

countrydata = retrievedata()
printdata(countrydata)
data = getname('India')
printdata(countrydata)

Question 1 Part 1

In [0]:
def student():
    database = pymysql.connect("rahulsagi", "Desktop", "python3020", "pydb")
    dbcursor = database.cursor()
    studentname = input("Input name of the student: ")
    studentmajor = input("Input student's major: ")
    studentyear = int(input("Input the year of the student: "))
    tuition = float(input("Input cost of the student's tuition: "))
    description = input("Input student description: ")

    sql="insert into tstudent(studentuname, studentmajor, studentyear, tuition, description) values(%s,%s,%s,%s,%s)"
    values=(studentname, studentmajor, studentyear, tuition, description)
    dbcursor.execute(sql, values)
    database.commit()
    dbcursor.close()
    database.close()

student()

Question 1 Part 2

In [0]:
def deletestudent():
    database = pymysql.connect("rahulsagi", "Desktop", "python3020", "pydb")
    dbcursor = database.cursor()
    studentid = int(input("Please input the id of the student that is going to be deleted:"))
    sql = "delete from tstudent where studentid=%s"
    dbcursor.execute(sql,stuid)
    database.commit()
    dbcursor.close()
    database.close()

deletestudent()

Question 2 Part 2

In [0]:
def editstudentinformation():
    database = pymysql.connect("localhost", "root", "python3020", "pydb")
    dbcursor = db.cursor()
    studentid = int(input("please input the student id:"))
    studentname = input("please input student's name:")
    studentmajor = input("please input student's major:")
    studentyear = int(input("please input year of student:"))
    tuition = float(input("please input student's tutition:"))
    description = input("please input student description:")

    sql="update tstudent set studentname=%s,studentmajor=%s,studentyear=%s,tuition=%s,description=%s where studentid=%s"
    values=(studentname, studentmajor, studentyear, tuition, description, studentid)
    dbcursor.execute(sql,values)
    database.commit()
    dbcursor.close()
    database.close()

editstudentinformation()

Question 3 Part 2

In [0]:
def numberstudent():
    database = pymysql.connect("rahulsagi", "Desktop", "python3020", "pydb")
    dbcursor = db.cursor()
    studentmajor=input("please input student's major that will be counted:")


    sql="select count(*) as totalstudent from tstudent group by major having major=%s"
    dbcursor.execute(sql, studentmajor)
    result = dbcursor.fetchone()
    print("there are "+ str(result[0]) + "  students who have this "+ studentmajor)
    dbcursor.close()
    database.close()

numberstudent()

Question 4 Part 2

In [0]:
def randomstudentinfo():
    database = pymysql.connect("rahulsagi", "Desktop", "python3020", "pydb")
    dbcursor = db.cursor()

    sql = "select * from tstudent"
    studentidlist = []
    dbcursor.execute(sql)
    studentidname = dbcursor.fetchall()

    for randomstud in studentidname:
        studentidlist.append([randomstud[0],randomstud[1]])

    import random
    randomid = random.randint(0,len(studentidlist))
    print(studentidlist[randomid - 1])
    dbcursor.close()
    database.close()

randomstudentinfo()

Question 5 Part 2