<a href="https://colab.research.google.com/github/ettubrute-INFO/Rahul_INFO5731_Spring2020/blob/master/FinalExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
def string_input(val):
    val = input("Please enter a string: ")
    return val

string_input("")

Please enter a string: Hello World

'Hello World'

Problem #1

In [5]:
count_even = 0

for num in range(1, 1001):
    if num % 2 == 0:
        count_even = count_even + num

print("Sum of even numbers from 1 to 1000 is", count_even)

Sum of even numbers from 1 to 1000 is 250500

Problem #2

In [15]:
def recursive_product(list1):
    total = 1
    for element in list1:
        if type(element) is list:
            total *= recursive_product(element)
        else:
            total *= element
    return total 
      
list1 = [12,10,3,2,[6,[7,8,9],19,21],21]  
print(recursive_product(list1))

18243429120

Problem #3

In [26]:
def count_numbers(numbers):
  a = dict((x, numbers.count(x)) for x in set(numbers))

  print(a)

count_numbers([1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3])

{32: 1, 1: 2, 2: 17, 3: 9, 4: 6, 5: 1}

Problem #5

In [32]:
import numpy as np

def matrix_array(matrix):
  x = np.ravel(matrix)

  cutoff = 20

  new_array = []

  for z in x:

    if z > cutoff:
      new_array.append(0)

    else:
      new_array.append(z)

  x = np.array(new_array)

  print(x)

matrix_array([[23,43,12],[32,12,52],[15,35,52],[19,28,56]])

file1 = open("array.txt","w")

for y in range(len(matrix_array([[23,43,12],[32,12,52],[15,35,52],[19,28,56]]))):
  file1.write("%d " %(matrix_array[y]))
  f.write("\n")

file1.close()

file2 = open("array.txt","r")

[ 0  0 12  0 12  0 15  0  0 19  0  0]

Problem #4

In [51]:
class Point:

  def __init__(self, x=0, y=0):
    self.x=x
    self.y=y

  def __str__(self):
    return "({0},{1})".format(self.x, self.y)

  def __add__(self, other):
    return Point(other.x + self.x, other.y + self.y)

def print_point(pt):
  print("({0},{1})".format(pt.x, pt.y))

p = Point()
q = Point(8, 11)
r = Point(12, 14)

print('The Point is', p)
print('The Point is', q)
print('The sum of the points are', q + r)

The Point is (0,0)
The Point is (8,11)
The sum of the points are (20,25)

Question #6

In [0]:
import pymysql

def conn_sql():
  db = pymysql.connect("localhost", "root", "python3020", "world")
  dbcursor = db.cursor()
  return (db, dbcursor)

def AvgPopulation():
  conn_sql = conn_sql()
  sql="select avg(Population), Continent from country group by Continent"
  conn_sql[1].execute(sql)
  results = conn_sql[1].fetchall()
  conn_sql[0].close()
  conn_sql[1].close()
  print(results)

AvgPopulation()

Question #8

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('energy-production.csv')

def retreive_production(year):
  year = df['Year']
  column = ['Solar/PV Energy', 'Geothermal Energy', 'Wind Energy', 'Natural Gas Plant Liquids',
            'HydroElectric Power', 'Biomass Energy', 'Nuclear Electric Power', 
            'Crude Oil', 'Natural Gas (Dry)', 'Coal']
  
  plt.ylim(0, 30)
  plt.bar(df[columns], df[columns].values.T)
  plt.show()
  

year = input("Please input a year from 1973 to 2014:")
retreive_production(year)

Question #10

In [0]:
import pymysql
from pylab import *

def conn_sql():
  db = pymysql.connect("localhost", "root", "python3020", "world")
  dbcursor = db.cursor()
  return (db, dbcursor)

def TotalPopulation():
  conn_sql = conn_sql()
  sql="select sum(Population), Continent from country group by Continent"
  conn_sql[1].execute(sql)
  results = conn_sql[1].fetchall()
  mylist = []
  labels = ['Antartica', 'South America', 'North America', 'Oceania', 'Europe',
            'Africa', 'Asia']
  for row in results: 
    l= map(int,row) 
    mylist.append(l)
  conn_sql[0].close()
  conn_sql[1].close()
  
  counts = mylist
  pie(counts, labels = labels)

TotalPopulation()

Question #9

In [0]:
import xlrd

excel = "catering_sale_all.xls"
workbook = xlrd.open_workbook(excel)
sheet = workbook.sheet_by_name('Sheet1')

input_num = 1

while(input_num != 0):

  print("\n0 exit")
  print("1 Chicken feet")
  print("2 steamed dumplings")
  print("3 ribs");
  print("4 full chicken")
  print("5 stuffed bun")
  print("6 flowering cabbage")
  print("7 doufu")
  print("8 chive dumplings")
  print("9 pudding")
  print("10 original cabbage")

  input_num = int(input("\nPlease enter a number between 0 and 10"))
  
  total_item = 0

  if(input_num != 0):

    for values in sheet.col_values(input_num):

      if isinstance(value, float):

        total_item = total_item + values

print("\nThe total sales volume of sales for one month: ", total_item)

Question #7