<a href="https://colab.research.google.com/github/ettubrute-INFO/Rahul_INFO5731_Spring2020/blob/master/In_Class_Exercise/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem #1

In [1]:
x = int(input("Input a numerical value from 0 to 6: "))

if x == 0:
    print("Today's Sunday")
elif x == 1:
    print("Today's Monday")
elif x == 2:
    print("Today's Tuesday")
elif x == 3:
    print("Today's Wednesday")
elif x == 4:
    print("Today's Thursday")
elif x == 5:
    print("Today's Friday")
elif x == 6:
    print("Today's Saturday")
else:
    print("You entered an invalid value")

Input a numerical value from 0 to 6: 4
Today's Thursday

Problem #2

In [2]:
import math
y = 6
z = 8

print("The hypotenuse of triangle with length ", y, " and length ", z, " is", math.sqrt(y**2 + z**2))

The hypotenuse of triangle with length  6  and length  8  is 10.0

Problem #3

In [3]:
a = 6
b = 9
c = 10

if a**2 + b**2 == c**2:
    print(True)
else:
    print(False)

False

Problem #4

In [4]:
for month in ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
              "November", "December"]:
    fact = "One of the months of the year is " + month
    print(fact)

One of the months of the year is January
One of the months of the year is February
One of the months of the year is March
One of the months of the year is April
One of the months of the year is May
One of the months of the year is June
One of the months of the year is July
One of the months of the year is August
One of the months of the year is September
One of the months of the year is October
One of the months of the year is November
One of the months of the year is December

Problem #5

(A)

In [5]:
def listTotal(sumList):
    total = 0
    for j in sumList:
        total = total + j
    return total

print(listTotal([2, 10, 32, 3, 66, 17, 42, 99, 20]))

291

(B)

In [6]:
def listProduct(prodList):
   if len(prodList) == 1:
        return prodList[0]
   else:
        return prodList[0] * listProduct(prodList[1:])

print(listProduct([2, 10, 32, 3, 66, 17, 42, 99, 20]))

179146598400

Problem #6

In [0]:
import turtle

window = turtle.Screen()
window.bgcolor("Red")
window.title("Rahul")

rahul = turtle.Turtle()
rahul.color("Black")
rahul.pensize(7)

for i in [0, 1, 2]:
    rahul.forward(50)
    rahul.left(120)

rahul.right(90)
rahul.forward(100)

for i in [0, 1, 2, 3, 4, 5, 6]:
    rahul.forward(60)
    rahul.left(60)

window.mainloop()

Problem #7

In [0]:
import turtle

window = turtle.Screen()
window.bgcolor("Red")
window.title("Rahul")

rahul = turtle.Turtle()
rahul.color("Black")
rahul.pensize(7)

rahul.forward(100)
rahul.left(160)

rahul.forward(100)
rahul.left(-43)

rahul.forward(100)
rahul.left(270)

rahul.forward(100)
rahul.left(-97)

rahul.forward(100)
rahul.left(-43)

rahul.forward(100)
rahul.left(200)

rahul.forward(100)
rahul.left(-940)

rahul.forward(100)
rahul.left(17)

rahul.forward(100)
rahul.left(-86)

rahul.forward(100)

window.mainloop()

Problem #8

In [12]:
x = range(1, 1000)
i = 0
evenNumber = 0
discard = 0

while(i < len(x)):
    if i%2 == 1:
        evenNumber += 1
    else:
        discard += 1

    i += 1

print("Number of even digits from 1:1000: ", evenNumber)

Number of even digits from 1:1000:  499